<p>
  Title:
  <%= @blog.title %>
</p>

<p>
  Text:
  <%= @blog.body %>
</p>

<p>
  Author:
  <%= @blog.author %>
</p>

<%= link_to 'Edit', edit_blog_path(@blog) %> |
<%= link_to 'Back', blogs_path %>
