<%= render "pages/header" %>
<p>
  Title:
  <%= @blog.title %>
</p>

<p>
  Text:
  <%= @blog.body %>
</p>

<p>
  Author:
  <%= @blog.user %>
</p>

<%= link_to 'Edit', edit_blog_path(@blog) %> |
<%= link_to 'Back', blogs_path %>
