<%= link_to 'Create new comment', new_article_comment_path %>
<% @comments.each do |comment| %>
<p>
  <%= comment.body %>
  <%=  "article_id:  #{comment.article_id}" %>
  <%=  "user_id:  #{comment.user_id}" %>
  <%=  "comment_id:  #{comment.id}" %>
<%= link_to 'Edit', edit_article_comment_path(comment.article_id, comment) %>
</p>
<% end %>

