<!DOCTYPE html>
<html>
<head>
  <%= render "pages/header" %>
</head>
<body>

<div class="row">
    <div class="card">
      <h2>Articles</h2>
<table>


  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td class="title"><div class="t1"><%= article.title %></div>
        <br><%= article.body %>
        <br>
        <div class="t1"><%= article.user.name %></div></td>
        <td class="Show"><%= link_to 'Show', article %>
        <td class="Edit"><%= link_to 'Edit', edit_article_path(article) %></td>
        <td class="Destroy"><%= link_to 'Destroy', article, method: :delete%></td>
      </tr>
    <% end %>
  </td>
</tr>
  </tbody>
</table>


<%= link_to 'New Article', new_article_path %>
