<!DOCTYPE html>
<html>
<head>
  <%= render "pages/header" %>
</head>
<body>

<div class="row">
    <div class="card">
      <h2>Articles</h2>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th></th>
      <th>Author</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td class="title"><div class="t1"><%= article.title %></div>
        <br><%= article.body %></td>
        <td><%= article.user.name %></td>
        <td><%= link_to 'Show', article %></td>
        <td><%= link_to 'Edit', edit_article_path(article) %></td>
        <td><%= link_to 'Destroy', article, method: :delete%>
      </tr>
    <% end %>
  </td>
</tr>
  </tbody>
</table>


<%= link_to 'New Article', new_article_path %>
