<p>
  Title:
  <%= @article.title %>
</p>

<p>
  Text:
  <%= @article.body %>
</p>

<p>
  Author:
  <%= @article.user.name %>
</p>

<p>
  Comments:
  <p>
    <% @comments.each do |comment|%>
    <%= comment.body %>
    <p> <%= comment.user.name %> |
    <%= comment.created_at %> |
    <%= link_to 'Edit', edit_article_comment_path(comment) %>

    </p>

    <% end %>
  </p>
</p>

<% if current_user && current_user.admin?%>
  <%= link_to 'Edit', edit_article_path(@article) %> |
  <%= link_to 'Destroy', @article, method: :delete%> |
<% end %>
<% if current_user %>
  <%= link_to 'Create new comment', new_article_comment_path(@article) %> |
<% end %>
<%= link_to 'Back', articles_path %>
