<h2>Users</h2>
<% if current_user && current_user.admin?%>
  <p> Name | Admin | Actions</p>
  <% @users.each do |user| %>
    <p><%= link_to user.name, user %></h3>
    <%= user.admin? %></h3>
    <%= link_to 'Edit', edit_user_path(user) %>
    <%= link_to 'Destroy', user, method: :delete%></p>
  <% end %>
  <%= link_to 'New User', new_user_path %>
<% else %>
  <p> You don't have permission to view this page </p>
<% end %>