  <% if current_user.admin?%>
    <%= link_to 'Articles', articles_path%>
    <%= link_to 'Comments', comments_path%>
    <%= link_to 'Galleries', galleries_path%>
    <%= link_to 'Pictures', pictures_path%>
    <%= link_to 'Tags', tags_path%>
    <%= link_to 'Users', users_path%>
    <% else %>
    <p> You don't have permission to view this page </p>
  <% end %>