<div><%= image_tag @picture.image_link %></div>
<div><%= @picture.description %> </div>
<p class="desc">
  <% @picture.tags.each do |tag| %>
    <%= tag.name %> |
  <% end %>
    <%= link_to 'Edit', edit_picture_path %>
 </p>
 <p> <%= link_to 'Back to gallery', gallery_path(@picture.gallery_id)%> </p>