<%= form_for(@gallery) do |form| %>

<% @gallery.errors.full_messages.each do |message| %>
  <li><%= message %></li>
<% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :Author %>
    <%= form.text_field :user_id  %>
  </div>

  <div class="field">
    <%= form.label :Thumbamil %>
    <%= form.text_field :thumb_image  %>
  </div>

  <ul>
    <%= form.fields_for :pictures do |pictures_form|%>
      <li>
        <%= pictures_form.label :Image_link %>
        <%= pictures_form.text_field :image_link %>
        <%= pictures_form.label :Size %>
        <%= pictures_form.text_field :size %>
      </li>
    <% end %>
  </ul>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>