
<div class="container">
      <% @galleries.each do |gallery| %>
        <div class="gallery-picture">
          <p><%= image_tag gallery.thumb_image %></p>
          <%= link_to gallery.title, gallery_path(gallery) %>
          <p><%= gallery.description %>
          <% if current_user %>
            | <%= link_to 'Create new Gallery', new_gallery_path %>
            | <%= link_to 'Edit', edit_gallery_path(gallery) %></p>
          <% end %>
        </div>
  <% end %>
</div>




<!--  <table style="width:100%">
  <tr>
    <th>Firstname</th>
    <th>Lastname</th>
    <th>Age</th>
  </tr>
  <tr>
    <td>Jill</td>
    <td>Smith</td>
    <td>50</td>
  </tr>
  <tr>
    <td>Eve</td>
    <td>Jackson</td>
    <td>94</td>
  </tr>
</table> -->