
<div class="container">
  <% @galleries.each do |gallery| %>
    <div class="gallery-picture">
      <p><%= link_to gallery_path(gallery) do %>
        <%= image_tag gallery.thumb_image %></p>
      <% end %>
      <p><%= gallery.description %>
      <% if current_user && current_user.admin?%>
        | <%= link_to 'Edit', edit_gallery_path(gallery) %></p>
      <% end %>
    </div>
  <% end %>
</div>
  <p>
    <% if current_user && current_user.admin?%>
      <%= link_to 'Create new Gallery', new_gallery_path %>
    <% end %>
  </p>




<!--  <table style="width:100%">
  <tr>
    <th>Firstname</th>
    <th>Lastname</th>
    <th>Age</th>
  </tr>
  <tr>
    <td>Jill</td>
    <td>Smith</td>
    <td>50</td>
  </tr>
  <tr>
    <td>Eve</td>
    <td>Jackson</td>
    <td>94</td>
  </tr>
</table> -->