<div class="row">
  <%= link_to 'Create new Gallery', new_gallery_path %>
  <% @galleries.each do |gallery| %>
    <div class="gallery">
      <%= image_tag gallery.thumb_image %>
        <%= link_to gallery.title, gallery_path(gallery) %>
        <%= gallery.description %>
        <%= link_to 'Edit', edit_gallery_path(gallery) %>
        </div>
  <% end %>
</div>




<!--  <table style="width:100%">
  <tr>
    <th>Firstname</th>
    <th>Lastname</th>
    <th>Age</th>
  </tr>
  <tr>
    <td>Jill</td>
    <td>Smith</td>
    <td>50</td>
  </tr>
  <tr>
    <td>Eve</td>
    <td>Jackson</td>
    <td>94</td>
  </tr>
</table> -->