<%= render 'pages/header' %>

<p> <%= @gallery.title %> </p>

<% @pictures.each do |picture| %>
  <%= image_tag picture.image_link %>
  <%= picture.description %>
<% end %>

<p> <%= @gallery.description %> </p>
<p><%= link_to 'Edit', edit_gallery_path(@gallery) %></p>
<p><%= link_to 'Destroy', @gallery_path, method: :delete %></p>