<%= @gallery.title %>
<div class="container">
    <% @pictures.each do |picture| %>
      <div class="gallery">
        <%= link_to picture_path() do %>
          <%= image_tag picture.image_link %>
        <% end %>
        <%= picture.description %>
          <% picture.tags.each do |tag| %>
            <%= tag.name %>
          <% end %>
      </div>
    <% end %>
</div>
  <p> <%= @gallery.description %> </p>
<% if current_user %>
  <p><%= link_to 'Edit', edit_gallery_path(@gallery) %></p>
  <p><%= link_to 'Destroy', @gallery_path, method: :delete %></p>
<% else %>
<% end %>